*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}
h2 {
    color: #b15e23;
}
section {
    background-color: white;
}

.layout_wrapper {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
    display: block;
}
/**********/

header {
    background-image: url("pictures/footer_bg.gif");
    height: min-content;
    padding-top: 3%;
}
header a {
    color: white;
    text-decoration: none;
}
h1 {
    margin: 0;
}
a#big {
    font-style: italic;
    font-size: 300%;
    font-weight: bold;
}
#small {
    font-style: italic;
    color: #d5a17c;
    margin-top: 0;
    margin-bottom: 4%;
}
header ul {
    padding-left: 0;
    margin-bottom: 0;
}
header li {
    display: inline;
    padding-right: 2%;
}
header nav a {
    position: relative;
  }
header nav a:hover::after {
    content: url("pictures/menu_bullet.gif");
    position: absolute;
    bottom: -120%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 15px;
    height: 15px;
}

/**********/

section#about {
    background-color: #cecccc;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
    min-height: fit-content;
}

/**********/

#together{
    width: 960px;
    margin:auto;
}
#left_column{
    width: 65%;
    float: left;
    box-sizing: border-box;
    padding-top: 2%;
}

#lab{
    padding-top: 2%;
    background-color: #cecccc;
    background: linear-gradient(90deg,#cecccc,#fff);
    width: 35%;
    box-sizing: border-box;
    float: right;
    padding-left: 5%;
    padding-bottom: 2%;
}
#con {
    clear: both;
}

.left {
    width: 50%;
    float: left;
    display: block;
    margin-bottom: 5%;
}

.left figure {
    margin: 0;
    margin-right: 5%;
}

/**********/

.left img {
    display: block;
    align-self: center;
    float: left;
    margin-right: 3%;
    margin-bottom: 40%;
}

#lec figure a {
    color: #3c1f0a;
    font-weight: bold;
    font-size: 150%;
    text-decoration: none;
    border-bottom: 3px dotted #b15e23;
    padding-right: 20%;
    display: inline;
}
#lec figure figcaption {
    padding-top: 2%;
    padding-bottom: 10%;
    text-align: justify;
}

/**********/

section#res {
    padding-bottom: 3%;
}
table {
    border: 3px solid black;
    border-spacing: 5px;
    width: 95%;
}
table.tg{
    margin: 0;
    padding: 0;
}
th {
    border: 3px dotted #3c1f0a;
    background-color: #d5a17c;
    box-shadow: 3px 3px;
    border-spacing: 5px;
    text-align: center; 
    vertical-align: middle;
}
td {
    padding-right:10px;
    text-align: center; 
    vertical-align: middle;
    border-top: 2px solid black;
    border-bottom: 2px solid gray;
}

/**********/

#lab figure {
    border-bottom: 3px dotted #b15e23;
    padding-bottom: 1%;
    margin-bottom: 2%;
    
}
#lab figure a {
    color: #3c1f0a;
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 2%;
}
#lab img {
    display: block;
    align-self: center;
    float: left;
    margin-right: 3%;
    margin-bottom: 20%;
}
#lab figcaption {
    display: inline;
    text-align: justify;
}

/**********/


#back{
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url("pictures/footer_bg.gif");
    width: 100%;
    display: flex;
    color: white;
    height: max-content;
    box-sizing: border-box;
}

#bottom_left{
    box-sizing: border-box;
    width: 35%;
    float: left;
    margin-right: 4%;
}
#bottom_right{
    box-sizing: border-box;
    width: 40%;
    float: left;
}

#con h2 {
    color: white;
}
#con dd{
    text-align: right;
}
#con dt{
    float: left;
}
#con a {
    text-decoration: none;
    color: #b15e23; ;
}
#con li {
    display: block;
    padding-bottom: 1%;
}
#con img {
    display: inline;
    padding-right: 2%;
}
